<% include partials/head.ejs %>

<section>
	<h1>Huis in Amsterdam</h1>

	<% for(var i = 0; i < residences.Objects.length; i++) {%>
	<a href="/residences/<%= residences.Objects[i].Id%>">
	  <article>
	    <header>
	    	<h1><%= residences.Objects[i].Adres %></h1>
	    </header>
			<img src="<%= residences.Objects[i].Foto %>" />
	  </article>
	</a>
	<% } %>
</section>

<!-- <% include partials/footer.ejs %> -->
